@use './scss/variables' as *;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: $primary;
  background-color: $backgroundColor;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  font-family: 'Kanit', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.btn {
  cursor: pointer;
  background: transparent;
  border: 1px solid transparent;
  color: rgb(167, 167, 167);
  padding: .5em;
  border-radius: 10px;

  &:hover {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.297);
    color: white;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes appearTexttoLeft {
  0% {
    opacity: 0;
    left: -50px
  }

  100% {
    opacity: 1;
    left: 0px
  }

}

@keyframes appearImgtoLeft {
  0% {
    object-position: 0 top;
  }

  100% {
    object-position: 150px top;
  }
}

@keyframes hiddenStart {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}